//----------------------------------- LOCAL ENV VARIABLES --------------------------------------//
/ SERVER configuration /
NODE_PORT = 3000

/ DATABASE CONFIGURATION /
DB_HOST = localhost
DB_NAME = kawawa_music
DB_USER = root
DB_PASS =

/ ENVIRONMENT /
ENVIRONMENT = development

/ GIT BRANCH /
GIT_BRANCH = master 

/ MAIL /
MAIL_HOST = smtp.sendgrid.net
MAIL_PORT = 587
MAIL_USERNAME = apikey
MAIL_PASSWORD = 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
MAIL_FROM = Kawawa Music
MAIL_FROM_ADDRESS = johnsondorothy440@gmail.com

/ SSL /
SSL_PRIVATE_KEY = /etc/letsencrypt/live/privkey.pem
SSL_CERT_KEY = /etc/letsencrypt/live/cert.pem
SSL_FULLCHAIN_KEY = /etc/letsencrypt/live/fullchain.pem