//----------------------------------- LOCAL ENV VARIABLES --------------------------------------//
/ SERVER configuration /
NODE_PORT=3000

/ DATABASE CONFIGURATION /
DB_HOST = localhost
DB_NAME = kawawa_music
DB_USER = root
DB_PASS =

/ ENVIRONMENT /
ENVIRONMENT = 

/ GIT BRANCH /
GIT_BRANCH = master 

/ MAIL /
MAIL_HOST = smtp.sendgrid.net
MAIL_PORT = 587
MAIL_USERNAME = apikey
MAIL_PASSWORD = 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
MAIL_FROM = Kawawa Music
MAIL_FROM_ADDRESS = sumannj060196@gmail.com